{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <title> {% block tittle %}Index{% endblock %}</title>
</head>

<body>
    {% block container %}
    <div class="fondo">
            <div class="encabezado">
                <div class="centrar">
                    <div class="inicio">
                        <a href="/usuario/"><label id="inic">Iniciar sesión</label></a>
                          <div class="cuadroRegis" id="registrar">
                         <a href="{% url 'registro' %}"><label class="regis">Registrate</label></a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo">
                <img src="{% static 'img/logo1.png' %}" alt="">
            </div>
        </div>
    {% endblock %}


    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>