{% extends "home.html" %} {% load static %} {% block contenido %}

    
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Compilador Web</title>
        <link rel="stylesheet" href="{% static 'css/estiloEditor.css' %}">
        <script language="Javascript" type="text/javascript" src="{% static 'edit_area/edit_area_full.js' %}"></script>
        <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script language="Javascript" type="text/javascript">
            // initialisation
            editAreaLoader.init({
                id: "example_3" // id of the textarea to transform  
                ,start_highlight: true  
                ,font_size: "8"
                ,font_family: "verdana, monospace"
                ,allow_resize: "y"
                ,allow_toggle: false
                ,language: "es"
                ,syntax: "css"  
                ,toolbar: "new_document, save, load,|, search, go_to_line, |, undo, redo, |, select_font, |, change_smooth_selection, highlight,|, help"
                ,load_callback: "my_load"
                ,save_callback: "my_save"
                ,plugins: "charmap"
                ,charmap_default: "arrows"
                    
            });
            
            // callback functions
            function my_save(id, content){
                alert("Guardar Código '"+ id +"' En Sus Archivos ?\n"+content);
            }
            
            function my_load(id){
                editAreaLoader.setValue(id, "codigo de prueba");
            }
            
            function test_setSelectionRange(id){
                editAreaLoader.setSelectionRange(id, 100, 150);
            }
            
            function test_getSelectionRange(id){
                var sel =editAreaLoader.getSelectionRange(id);
                alert("start: "+sel["start"]+"\nend: "+sel["end"]); 
            }
            
            function test_setSelectedText(id){
                text= "[REPLACED SELECTION]"; 
                editAreaLoader.setSelectedText(id, text);
            }
            
            function test_getSelectedText(id){
                alert(editAreaLoader.getSelectedText(id)); 
            }
            
            function editAreaLoaded(id){
                if(id=="example_2")
                {
                    open_file1();
                    open_file2();
                }
            }
            
            function open_file1()
            {
                var new_file= {id: "to\\ é # € to", text: "$authors= array();\n$news= array();", syntax: 'php', title: 'beautiful title'};
                editAreaLoader.openFile('example_2', new_file);
            }
            
            function open_file2()
            {
                var new_file= {id: "Filename", text: "<a href=\"toto\">\n\tbouh\n</a>\n<!-- it's a comment -->", syntax: 'html'};
                editAreaLoader.openFile('example_2', new_file);
            }
            
            function close_file1()
            {
                editAreaLoader.closeFile('example_2', "to\\ é # € to");
            }
            
            function toogle_editable(id)
            {
                editAreaLoader.execCommand(id, 'set_editable', !editAreaLoader.execCommand(id, 'is_editable'));
            }</script>
    </head>
    <body>

            <div class="fondo">
            <div class="barra"></div>
            <div class="barraNavbar">
            <div class="centrarNavbar">
            <select name="hall" id="hall" value="3" class="lenguaje">
            <option>------ lenguajes ------</option>
            <option>Python</option>
            <option>Java</option>
            <option>C++</option>
            <option>C#</option>
            <option>PHP</option>
            </select>
            <button class="descargar">
            <img src="../static/img/descarga.png" alt="">
            </button>
            <button class="descargar">
            <img src="../static/img/subir.png" alt="">
            </button>
            <button class="ejecutar" id="ejecutar" name="ejecutar">
            <img src="../static/img/ejecutar.png" alt="">
                
            </button>
            </div>

            </div>

            </div>
        {% block container %}
        <h2 align="center">Compilador</h2>
        <legend>Compile Su Codigo Aqui!!</legend>
        
        <form method="POST" action="">
            {% csrf_token %}
          <textarea id="example_3" name="code" style="height: 350px; width: 100%;" name="test_3"></textarea>
          <input type="submit" name="go">
          {% endblock %} 
        </form>
    </body>
</html>

{% endblock %}
